**/dist/**
**/build/**
**/node_modules/**
**/coverage/**
node_modules
infrastructure
.github
**/**/dist/**
**/**/build/**
**/**/node_modules/**
**/**/coverage/**
dist
build
coverage
packages/**/build/**
packages/**/dist/**
packages/**/node_modules/**
packages/**/coverage/**
shared/**/build/**
shared/**/dist/**
shared/**/node_modules/**
shared/**/coverage/**
packages/crypto-squad/src/@setproduct-ui
shared/ui-shared/src/state/lists/actions.ts