PORT=3000
DB_TYPE=postgres
DB_HOST=localhost
DB_HOST_READ=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_SCHEMA=public
DB_SYNCHRONIZATION=false
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=